@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
    --heading-ff: 'Poppins', sans-serif;
    --body-ff: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: var(--body-ff);
    background: url('./images/bg-desktop.svg') no-repeat center center/cover var(--violet);
    padding: 2.5rem 4rem;
    height: 100vh;
}

header {
    margin-bottom: 40px;
}

.logo {
    width: 12rem;
}

.container {
    display: flex;
    align-items: center;
    gap: 5rem;
    justify-content: space-around;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 20px;
    max-width: 1300px;
    height: auto;
}

.container img {
    max-width: 650px;
}

.info {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title {
    font-size: 40px;
    font-weight: 800;
    font-family: var(--heading-ff);
}

.description {
    margin-block: 1.5rem;
    line-height: 2rem;
    font-size: 18px;
}

.btn {
    padding: 15px;
    width: 40%;
    font-family: inherit;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    font-size: 20px;
    color: var(--violet);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .3s ease;
}

.btn:hover {
    background-color: var(--soft-magenta);
    color: #fff;
}

.icons {
    text-align: right;
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

.icons i {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    width: 40px;
    font-size: 18px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease;
}

.icons i:hover {
    border: 1px solid var(--soft-magenta);
    color: var(--soft-magenta);
}

footer {
    text-align: center;
    color: #fff;
    font-size: 12px;
}

footer a {
    color: greenyellow;
}